# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/build

# python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
/python-env/
/.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache
/python-api/cache/ 

.cursor
.next
.venv